$enable-shadows: true;
$enable-gradients: true;


// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/font-awesome/scss/font-awesome';

// Import EmojiOne
@import '../../node_modules/emojione/assets/css/emojione.css';

// Import SchoolIT design
@import '../../vendor/schoolit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schoolit/common-bundle/Resources/assets/css/additions.scss';

// Import editor
@import '../../node_modules/bootstrap-markdown-editor-4/dist/css/bootstrap-markdown-editor.min.css';

// Import select2
@import '../../node_modules/select2/src/scss/core';
@import '../../node_modules/@ttskch/select2-bootstrap4-theme/src/layout';

.button-form {
    display:inline-block;
}

.buttons {
    margin-bottom: 10px;
}

.comment > span.details {
  font-size: 100%;
  color: $gray-600;
  margin-bottom: 5px;
  display: block;
}

/* Fix */
blockquote footer {
    border: none;
}

/* Editor fixes to make it work with FontAwesome (see https://stackoverflow.com/a/26638216) */
.md-container {
  .btn-group {
    margin-right: 5px;
  }

  .btn-default {
    @extend .btn-secondary;
  }

  .fas {
    @extend .fa;
  }
}

.problem-history {
  .media {
    > p {
      margin-bottom: 0;
    }
  }
}

// Outlined badges (see https://github.com/twbs/bootstrap/pull/23886)
@mixin badge-outline-variant($color) {
  color: $color;
  border: $border-width solid $color;

  &[href] {
    @include hover-focus {
      text-decoration: none;
      background-color: $color;
    }
  }
}

@each $color, $value in $theme-colors {
  .badge-outline-#{$color} {
    @include badge-outline-variant($value);
  }
}